@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    cursor: pointer;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px
}

/*header section*/

.header {
    background-color: #1f2937;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
}

#left,
#right {
    flex: 1 1 0;
}

#right {
    display: flex;
}

#right img{
    flex: 1;
    object-fit: cover;
    border-radius: 7px;
}

.signing_header {
    background: #3882f6;
    color: white;
    font-size: 14pt;
    border: 1px solid #3882f6;
    padding-inline: 2rem;
    padding-block: 7px;
    outline: none;
    border-radius: 7px;
    font-weight: 700;
}

.signing_header:hover {
    cursor: pointer;
    background-color: white;
    color: #3882f6;
    border: 1px solid black;
}

.btext_header {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
    margin-bottom: 8px;
}

.stext_header {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

/* info section */
h2 {
    font-size: 32pt;
    margin-bottom: 5rem;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.randominfo {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.info {
    width: 200px;
    height:auto;
    text-align: center;
    margin-bottom: 5rem;
}

.description {
    color: gray;
    font-size: 13pt;
}

.info img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 5px solid #3882f6;
    object-fit: cover;
}

/* quote section*/

.quote {
    background-color: #e5e7eb;
    padding: 5rem 15rem
}

.quote h3{
    font-weight: 100;
    font-size: 20pt;
    text-align: left;
}

.quote h4{
    font-size: 16pt;
    text-align: right;
}

/* modal section*/

.wrapper {
    background-color: white;
    padding: 5rem 10rem;
}

.modal {
    background-color: #3882f6;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
}

.signing_modal {
    background: #3882f6;
    color: white;
    border: 2px solid white;
    padding-inline: 2.5rem;
    padding-block: 10px;
    outline: none;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
}

.signing_modal:hover {
    cursor: pointer;
    background-color: white;
    color: #3882f6;
}

.text_modal {
    color: #e5e7eb;
}

.text_modal div{
    color: white;
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 0;
}

/*footer section*/

.footer {
    background-color: #1f2937;
    color: white;
    font-size: 15pt;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}